/* carousel.css */

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

/* Optional: Add animation styles for transition */
.slide {
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
