

.visit-form {
  max-width: 700px;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.center-align {
  text-align: center; /* Center-align text */
  margin-bottom: 20px; /* Add some bottom margin for spacing */
}

.form-group {
  margin-bottom: 15px;
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Align items vertically in the flex container */
}

.form-group label {
  flex: 0 0 120px; /* Set a fixed width for labels */
  margin-right: 0px; /* Decrease right margin for spacing */
  margin-left: 20px; /* Increase left margin for spacing */
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="email"],
.form-group textarea {
  flex: 1; /* Take up remaining space */
  box-sizing: border-box; /* Include padding and border in the width */
  height: 25px; /* Increase height of input boxes */
  padding: 5px; /* Add padding inside input boxes */
}

.form-group textarea {
  height: 150px; /* Set height for textarea */
}

button[type="submit"] {
  background-color: #6f3202;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #9d4e0e;
}
