<!DOCTYPE html>
<html lang="mr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>गॅलरी</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <h1>श्री अन्नपूर्णा आनाथाश्रम</h1>
        
        <nav class="nav-menu">
            <ul>
                <li><a href="{{ url_for('index') }}">मुखपृष्ठ</a></li>
                <li><a href="{{ url_for('new_student') }}">नविन नोंदणी</a></li>
                <li><a href="{{ url_for('information') }}">माहिती</a></li>
                <li><a href="{{ url_for('visit') }}">भेटीची योजना</a></li>
                <li><a href="{{ url_for('donate') }}">दैनिक अहवाल</a></li>
                <li><a href="{{ url_for('gallery') }}">गॅलरी</a></li>
                <li><a href="{{ url_for('contact') }}">संपर्क</a></li>
    
            </ul>
        </nav>
    </header>

    <main>
        <section>
        
            <h2>GALLERY</h2>
            <button>चित्रे अपलोड करा</button> <!-- Upload pictures button -->
        </section>

        <section>
            <h2>२०२४ मार्च</h2>
            <!-- Images for March 2024 -->
            <img src="{{ url_for('static', filename='gallery1.jpg') }}" alt="Image 1">
            <!-- <img src="{{ url_for('static', filename='gallery2.jpg') }}" alt="Image 2">
            <img src="{{ url_for('static', filename='gallery3.jpg') }}" alt="Image 3"> -->
        </section>

        <section>
            <h2>२०२४ फेब्रुवारी</h2>
            <!-- Images for February 2024 -->
            <img src="{{ url_for('static', filename='gallery4.jpg') }}" alt="Image 1">
            <!-- <img src="{{ url_for('static', filename='gallery4.jpg') }}" alt="Image 2"> -->
        </section>
    </main>

    <footer>
        <!-- <p>© 2024 श्री अन्नपूर्णा आनाथाश्रम. सर्व हक्क राखीव.</p> -->
    </footer>
</body>
</html>

